/* accounting css */

@font-face {
    font-family: HP_Simp;
    src: url(../resources/HP_Simplified/*);
}

.container {
	margin-bottom: 0%;
}

.fa-star {
	color: #f6d147;
}
.learn {
	display: block;
	margin: auto;
}
.one {
	float:left;
	width: 30%;
	margin-right: 5%;
}

.two {
	float: left;
	margin-right: 2%;
}

.three {
	float: left;
	width: 30%;
}

.five {
	float: left;
}

.last {
	float: left;
}

.bottom {
	display: inline-block;
	padding-bottom: 7%;
}
.bottom img {
	margin-right: 5%;
}

.info {
	display: inline-block;
	margin-top: 2%;
}

.others {
	display: inline-block;
	margin-top: 4%;
	padding-right: 5%;
	padding-left: 5%;
	margin-bottom: 2%;
}

.test {
	padding-top: 5%;
	display: inline-block;
}

.test img {
	margin-right: 4%;
}

.skinny img {
	margin-top: -3%;
	margin-right: 5%;
}
.skinny p {
	padding-right: 5%;
}
.colored {
	clear:left;
	margin-top: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #e9e7e7;
}



/* font editing */
.name {
	font-weight: bold;
}