/* home css*/

.box {
    border: 1px solid #DDD;
    width: 200px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}


.box h5 {
	margin-top:5%;
}

.butt {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}

.modal-body {
	text-align: left;
}

.fa-3x {
	margin-bottom: 3%;
}
