/* printing css */

.box {
    border: 1px solid #DDD;
    width: 200px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

.box h5 {
	margin-top:5%;
}

.fas {
	color: #f6d147;
}
.one {
	float:left;
	width: 40%;
	margin-right: 3%;
}

.two {
	float: left;
	margin-right: 2%;
}